:root {
  --text-color: #222202;
  --background-color: #fefeec;
  --primary-color: #e6f11e;
  --secondary-color: #82caf7;
  --accent-color: #dd732c;
  --light-text: #5a5a46;
  --border-color: #dbdbc0;
  --hover-color: #f2f9a1;
}

body,
.bg-dashboard {
  background-color: var(--background-color);
  color: var(--text-color);
}

.btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: var(--text-color);
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #cad619;
  border-color: #cad619;
  color: var(--text-color);
}

.bg-info1 {
  background-color: #f9f9e9;
}

.modal-content {
  background-color: var(--background-color);
  color: var(--text-color);
}

.form-control {
  border-color: var(--border-color);
  background-color: white;
  color: var(--text-color);
}

.form-control:focus {
  border-color: var(--light-text);
  box-shadow: 0 0 0 0.25rem rgba(230, 241, 30, 0);
  border-right: 1px solid black;
}

.bg-review {
  background-color: #fdfde1;
}

.btn-info-1:hover {
  background-color: #7dc6f1c9;
  border: 1px solid;
}
.btn-dash {
  transition: ease-in 0.4s;
  background-color: #dc722bbb;
}
.btn-info-1 {
  background-color: #cfeaefb6;
}

.btn-delete {
  border: 1px solid rgba(255, 0, 0, 0.411);
}
.btn-delete:hover {
  background-color: #ec3838;
  color: white;
}

.bg-card-photo {
  background-color: #f5f5f591;
}

.font-effect {
  font-style: italic;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--text-color);
  color: transparent;
}

.color-effect {
  background: linear-gradient(
    120deg,
    var(--primary-color),
    var(--accent-color)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn-like {
  color: red;
}
